@media screen and (max-width: 1024px) {
    .site-container {
    margin:0px 18px;
}
    .site-container-about {
    margin:0px 18px;
}
}

@media screen and (max-width: 600px) {
    .navlinks {
        display: none;
    }
    .site-footer-wrapper {
        justify-content: space-around;
    }
    .sociallink img {
        width: 0.75em;
    }
    .sociallink img[src="/assets/social_icons/fb.svg"] {
        width: 0.5em;
    }
    .sociallink img[src="/assets/social_icons/website.svg"] {
        width: 1em;
    }
    .page-heading-background {
        background: url('../assets/banner_mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
