.home {
  margin-top: 0em;
  background-color: #edf5f5;
}

.site-navbar-wrapper{
  font-size: 1.4rem;
   font-family: "marvelFont", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "design illustration"
    "development illustration";
  min-height: 25em;
  grid-column-gap: 4em;
}

.illustration-container {
  grid-area: illustration;
}

.design-information-container {
  grid-area: design;
  align-self: center;
}

.development-information-container {
  grid-area: development;
  align-self: center;
}

.coloured-container {
  background-color: #edf5f5;
}
.illustration-container {
  max-width: 75%;
  background: url("../assets/main_illustration.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-page-heading {
  position: relative;
  display: inline-block;
  font-family: "marvelFont", sans-serif;
  font-weight: bold;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.04em;
  color: black;
  user-select: none;
}

.heading-background-box {
  background: #edf5f5;
  position: absolute;
  width: 110%;
  height: 71%;
  left: -5%;
  bottom: 25%;
  z-index: 1;
}

.heading-background-box-coloured {
  background: #edf5f5;
  position: absolute;
  width: 85%;
  height: 65%;
  left: 30%;
  bottom: 35%;
  z-index: 1;
}

.heading-text {
  position: relative;
  z-index: 2;
}

.heading-information {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 1.1rem;
  color: #222222;
  margin-top: 0.7em;
  margin-bottom: 1.25em;
}

.heading-information-coloured {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 1.1rem;
  color: #edf5f5;
  margin-top: 0.7em;
  margin-bottom: 1.25em;
}


.why-databyte-section {
  margin-top: 5em;
margin-bottom: 4em;
}

.why-databyte-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  grid-column-gap: 1.7em;
}

.why-databyte-content {
  align-self: center;
}

.why-databyte-text {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.1rem;
  color: #202020;
  margin-top: 1em;
  margin-bottom: 1.625em;
}

.why-databyte-illustration {
  height: 100%;
  min-height: 12.5em;
  background: url("../assets/why_databyte_illustration.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.updates-section {
  margin-top: 5em;
}

.updates-wrapper {
  text-align: center;
}

.updates {
  margin-top: 1.5em;
  margin-bottom: 4.8em;
}

.update-item {
  width: 75%;
  padding: 0.75em 1.67em;
  margin: 0 auto;
}

.update-item:nth-child(odd) {
  background: #DEE0E9;
}

.update-item:nth-child(even) {
  background: #E7E9EF;
}

.update-time {
  font-family: Nunito Sans;
  font-weight: bold;
  font-size: 0.67em;
  line-height: 0.75rem;
  color: black;
}

.update-text {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 1rem;
  color: #202020;
  margin-top: 0.5em;
}

.text-link{
  text-decoration: none;
  color:#f5cf52;
}

@media screen and (max-width: 600px) {
  .heading-background-box {
    left: -5%;
  }
  .main-page-heading {
    font-size: 1.5em;
    line-height: 55px;
    letter-spacing: 0em;
  }
  .heading-information {
    font-size: 0.64em;
  }
  .update-text {
    font-size: 0.64em;
  }
  .update-time {
    font-size: 0.64em;
  }
  .why-databyte-text {
    font-size: 0.64em;
  }
}

@font-face {

  font-family: 'marvelFont' ;
  src: url('../assets/Marvel-Regular.ttf') format('truetype');

}

