@media screen and (max-width: 1208px) {
    .illustration-container, .why-databyte-illustration {
        display: none;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5em;
    }
    .design-information-container {
        margin-bottom: 2em;
    }
    .why-databyte-section {
        margin-top: 5em;
    }
    .why-databyte-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
    .updates-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .updates-wrapper {
        text-align: left;
    }
    .update-item {
        width: 80%;
    }
}
