* {
  margin: 0;
  padding: 0;
}

/* Default CSS */
:root {
  font-size: 24px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #edf5f5;
  width: 100%;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
}

nav {
  height: 1em;
  min-height: 4.5em;
  padding: auto 0;
  background-color:  #c5d1da !important;
 
}

.site-container {
  max-width: 1000px;
  margin: 0 auto;
  
}

.site-container-about {
  max-width: 800px;
  margin: 0 auto;
}

.site-navbar-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.site-home-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  user-select: none;
}

.site-logo {
  display: inline-block;
  width: 2.25em;
}

.site-logo-text {
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1rem;
  margin-left: 1em;
  color: #000000;
}

.navlinks-horizontal {
  display: grid;
  grid-column-gap: 1.8em;
  grid-auto-flow: column;
}

.navlink {
  font-size: 0.5em;
  line-height: 0.67rem;
  color: #3b3736;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}

.navlink[selected="True"] {
  font-weight: 900;
  color: #222222;
}
.navlink[selected="True"]:hover {
  font-weight: 900;
  color: #222222;
}

.navlink:hover {
  transition-duration: 0.3s;
  color: black;
}

#overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.site-cta-button {
  font-family: Nunito Sans;
  font-weight: normal;
  background: #222222;
  color: #c4c8c8;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 0.67rem;
  user-select: none;
  border-radius: 2px;
}

.site-cta-button:hover {
  transition: 0.25s;
  background: #151515;
box-shadow: 0px 0px 32px rgba(58, 38, 38, 0.2);
border-radius: 2px;
color: #c4c8c8;

}

.site-cta-button:active {
  border: none;
}

.site-ghost-button {
  border: 1px solid #293b52;
  background: none;
  color: #293b52;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 0.67rem;
  user-select: none;
}

.site-ghost-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.25s;
}

.site-ghost-button:active {
  border: none;
}

footer {
  height: 1em;
  min-height: 3.5em;
  background: black;
}

.site-footer-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-wrapper .navlink {
  color: #c4c8c8;
}



.sociallinks {
  display: grid;
  grid-column-gap: 0.5em;
  grid-auto-flow: column;
}

.sociallink {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sociallink:hover{
  transition-duration: 0.3s;
  color: #C0C0C0;
}
.sociallink img {
  width: 0.5em;
}

.sociallink img[src="/assets/social_icons/fb.svg"] {
  width: 0.4em;
}

.sociallink img[src="/assets/social_icons/website.svg"] {
  width: 0.8em;
}

/* Pages related CSS */

.page-heading-background {
  height: 7.5em;
  background: #c4c8c8;
  background: url("/assets/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-heading {
  position: relative;
  display: inline-block;
  font-family: "marvelFont", sans-serif;
  font-weight: bold;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.04em;
  color: black;
  user-select: none;
}

.heading-background-box {
 
  position: absolute;
  width: 110%;
  height: 71%;
  left: -5%;
  bottom: 25%;
  z-index: 1;
}

.heading-text {
  position: relative;
  z-index: 2;
}

.page-title {
  position: relative;
  display: inline-block;
  font-family: "marvelFont", sans-serif;
  font-weight: bold;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.04em;
  color: black;
  user-select: none;
}

.page-subtitle {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.375rem;
  color: black;
  user-select: none;
  margin-top: 2px;
}

.process-description-box {
  background: #DEE0E9;
  padding: 1.25em 2em;
  margin-bottom: 2em;
}

.process-description-content {
}

.process-description-heading {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4rem;
  color: #000000;
  align-self: center;
}

.process-description-text {
  font-family: Nunito Sans;
  margin-top: 1.55em;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 1.1rem;
  color: #666666;
}

.process-choice {
  display: grid;
}

.process-choice-action-link {
  text-decoration: none;
  color: inherit;
}

.process-choice-actions-text {
  text-decoration: none;
  position: relative;
  top: 2px;
}

.process-description-box:nth-child(1) {
  margin-top: 1.4em;
}

.process-choices-description {
  padding: 2em 2em;
}

.process-choices-description .process-description-header {
  display: flex;
  justify-content: space-between;
}

.process-choices-description .process-choices {
  display: grid;
  grid-auto-flow: column;
}

.process-choices-description .process-choices .process-choice:nth-child(1) {
  margin-right: 1.25em;
}

.process-choices-description .process-choices .process-choice:nth-child(3) {
  margin-left: 1.25em;
}

.process-choices-description .process-choice-heading {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 0.83em;
  line-height: 1.4rem;
  color: #000000;
  margin-top: 1.25em;
}

.process-choices-description .process-choice-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 0.96rem;
  color: #666666;
  margin-top: 0.7em;
  margin-bottom: 1.4em;
}

.process-choices-description .process-choice-or {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1rem;
  text-align: center;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.process-choices-description .process-choice-or span {
  padding: 1.55em 0;
}

.process-choices-description .process-choice-or div {
  flex-grow: 1;
  width: 1px;
  background: #a4a4a4;
}

.process-choices-description .process-choice-actions {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 0.67em;
  line-height: 1rem;
  color: #000000;
  margin-top: 1em;
}

.download-icon {
  width: 1em;
  vertical-align: middle;
  margin-right: 0.6em;
}

@media screen and (max-width: 450px) {
  .page-title {
    font-size: 1.5rem;
    line-height: 55px;
    letter-spacing: 0em;
  }
  .page-heading {
    font-size: 1.5em;
  }
}

@font-face {

  font-family: 'marvelFont' ;
  src: url('../assets/Marvel-Regular.ttf') format('truetype');

}